{
  "name": "PaginaPrueba",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/materialize.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/_bootstrap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/components1/date_picker/_default.date.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/components1/date_picker/_default.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/components1/date_picker/_default.time.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/components1/forms/_checkboxes.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/components1/forms/_file-input.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/x-main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sass/y-main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/ed-grid.scss",
      "imports": [
        "sass/components/_functions.scss",
        "sass/components/_base.scss",
        "sass/components/_media-queries.scss",
        "sass/components/_helpers.scss",
        "sass/components/_dev.scss",
        "sass/components/_core.scss",
        "sass/components/_grid.scss",
        "sass/components/_visibility.scss",
        "sass/components/_video.scss",
        "sass/components/_ed-menu.scss",
        "sass/components/_flexbox.scss",
        "sass/components/_offset.scss",
        "sass/components/_buttons.scss",
        "sass/components/_css-core.scss",
        "sass/components/_css-helpers.scss"
      ]
    },
    {
      "path": "sass/main.scss",
      "imports": [
        "sass/ed-grid.scss",
        "sass/components/_functions.scss",
        "sass/components/_base.scss",
        "sass/components/_media-queries.scss",
        "sass/components/_helpers.scss",
        "sass/components/_dev.scss",
        "sass/components/_core.scss",
        "sass/components/_grid.scss",
        "sass/components/_visibility.scss",
        "sass/components/_video.scss",
        "sass/components/_ed-menu.scss",
        "sass/components/_flexbox.scss",
        "sass/components/_offset.scss",
        "sass/components/_buttons.scss",
        "sass/components/_css-core.scss",
        "sass/components/_css-helpers.scss"
      ]
    },
    {
      "path": "sass/x-main.scss",
      "imports": [
        "sass/_bootstrap.scss",
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/_normalize.scss",
        "sass/bootstrap/_print.scss",
        "sass/bootstrap/_glyphicons.scss",
        "sass/bootstrap/_scaffolding.scss",
        "sass/bootstrap/_type.scss",
        "sass/bootstrap/_code.scss",
        "sass/bootstrap/_grid.scss",
        "sass/bootstrap/_tables.scss",
        "sass/bootstrap/_forms.scss",
        "sass/bootstrap/_buttons.scss",
        "sass/bootstrap/_component-animations.scss",
        "sass/bootstrap/_dropdowns.scss",
        "sass/bootstrap/_button-groups.scss",
        "sass/bootstrap/_input-groups.scss",
        "sass/bootstrap/_navs.scss",
        "sass/bootstrap/_navbar.scss",
        "sass/bootstrap/_breadcrumbs.scss",
        "sass/bootstrap/_pagination.scss",
        "sass/bootstrap/_pager.scss",
        "sass/bootstrap/_labels.scss",
        "sass/bootstrap/_badges.scss",
        "sass/bootstrap/_jumbotron.scss",
        "sass/bootstrap/_thumbnails.scss",
        "sass/bootstrap/_alerts.scss",
        "sass/bootstrap/_progress-bars.scss",
        "sass/bootstrap/_media.scss",
        "sass/bootstrap/_list-group.scss",
        "sass/bootstrap/_panels.scss",
        "sass/bootstrap/_responsive-embed.scss",
        "sass/bootstrap/_wells.scss",
        "sass/bootstrap/_close.scss",
        "sass/bootstrap/_modals.scss",
        "sass/bootstrap/_tooltip.scss",
        "sass/bootstrap/_popovers.scss",
        "sass/bootstrap/_carousel.scss",
        "sass/bootstrap/_utilities.scss",
        "sass/bootstrap/_responsive-utilities.scss",
        "sass/bootstrap/mixins/_hide-text.scss",
        "sass/bootstrap/mixins/_opacity.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_labels.scss",
        "sass/bootstrap/mixins/_reset-filter.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_responsive-visibility.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_tab-focus.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-overflow.scss",
        "sass/bootstrap/mixins/_vendor-prefixes.scss",
        "sass/bootstrap/mixins/_alerts.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_panels.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_progress-bar.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_center-block.scss",
        "sass/bootstrap/mixins/_nav-vertical-align.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/y-main.scss",
      "imports": [
        "sass/materialize.scss",
        "sass/components1/_prefixer.scss",
        "sass/components1/_mixins.scss",
        "sass/components1/_color.scss",
        "sass/components1/_variables.scss",
        "sass/components1/_normalize.scss",
        "sass/components1/_global.scss",
        "sass/components1/_icons-material-design.scss",
        "sass/components1/_grid.scss",
        "sass/components1/_navbar.scss",
        "sass/components1/_roboto.scss",
        "sass/components1/_typography.scss",
        "sass/components1/_cards.scss",
        "sass/components1/_toast.scss",
        "sass/components1/_tabs.scss",
        "sass/components1/_tooltip.scss",
        "sass/components1/_buttons.scss",
        "sass/components1/_dropdown.scss",
        "sass/components1/_waves.scss",
        "sass/components1/_modal.scss",
        "sass/components1/_collapsible.scss",
        "sass/components1/_chips.scss",
        "sass/components1/_materialbox.scss",
        "sass/components1/forms/_forms.scss",
        "sass/components1/_table_of_contents.scss",
        "sass/components1/_sideNav.scss",
        "sass/components1/_preloader.scss",
        "sass/components1/_slider.scss",
        "sass/components1/_carousel.scss",
        "sass/components1/date_picker/_default.scss",
        "sass/components1/date_picker/_default.date.scss",
        "sass/components1/date_picker/_default.time.scss",
        "sass/components1/forms/_input-fields.scss",
        "sass/components1/forms/_radio-buttons.scss",
        "sass/components1/forms/_checkboxes.scss",
        "sass/components1/forms/_switches.scss",
        "sass/components1/forms/_select.scss",
        "sass/components1/forms/_file-input.scss",
        "sass/components1/forms/_range.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}